<div class="container mx-auto p-4">
  <h1 class="text-4xl font-semibold mb-6"></h1>
  <div class="flex justify-between">
    <div>
      <h1 class="text-4xl font-semibold mb-6">Product List</h1>
    </div>
    <div>
      <button
      (click)="openProductFormDialog()" 
            class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >Add Product
          </button>
    </div>
  </div>

  <app-search-filter 
    [searchFields]="searchFields"
    (filterChanged)="onFilterChange($event)">
  </app-search-filter>

  <app-common-table 
    [data]="data"
    [columns]="columns"
    [page]="page"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)"
    (editAction)="true"
    (openEditFormDialog)="openProductFormDialog($event)"
    >
  </app-common-table>
